@import '../styles/colors.css';

.home-component-container {
  position: relative;
  display: block;
  padding: 0;
  flex-wrap: wrap;

  background-color: var(--antiflash-white);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--raisin-black);
}

/* Text positioned top-right */
.home-component-text {
  position: absolute;
  top: 20px;
  right: 100px;
  text-align: right;
  max-width: 300px;
}

/* Heading styling */
.home-component-text h2 {
  font-size: 2.1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Paragraph styling */
.home-component-text p {
  font-size: 1rem;
  line-height: 1.6;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .home-component-text {
    top: 15px;
    right: 15px;
    max-width: 90%;
  }

  .home-component-text h2 {
    font-size: 1.5rem;
  }
}
